<app-breadcrumb title="Our News"></app-breadcrumb>

<section class="po-blog-section pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="po-single-blog gray-bg rounded-7">
          <div class="po-blog-auth">
            <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.1.png" alt=""></div>
            <div class="po-blog-auth-content">
              <h3 class="auth-title font-bold text-20 leading-20 pb-12">Tina Wilkinson</h3>
              <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">City News</a></li><li><a href="#" class="po-blg-date">Aug 21,2024</a></li></ul></div></div>
            </div>
          </div>
          <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.1.png" alt=""></a>
          <div class="po-blog-content">
            <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Campaign Updates Stay Informed with the Latest News</a></h3>
            <p class="leading-26">Stay informed with the latest updates from our campaign! Our News section brings.</p>
            <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="po-single-blog gray-bg rounded-7">
          <div class="po-blog-auth">
            <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.2.png" alt=""></div>
            <div class="po-blog-auth-content">
              <h3 class="auth-title font-bold text-20 leading-20 pb-12">Maurice Quitzon</h3>
              <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">City News</a></li><li><a href="#" class="po-blg-date">Aug 21,2024</a></li></ul></div></div>
            </div>
          </div>
          <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.2.png" alt=""></a>
          <div class="po-blog-content">
            <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Latest Updates What Happening in Our Campaign</a></h3>
            <p class="leading-26">From major policy announcements and event recaps to media coverage.</p>
            <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="po-single-blog gray-bg rounded-7">
          <div class="po-blog-auth">
            <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.3.png" alt=""></div>
            <div class="po-blog-auth-content">
              <h3 class="auth-title font-bold text-20 leading-20 pb-12">Leslie Alexander</h3>
              <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">City News</a></li><li><a href="#" class="po-blg-date">Aug 21,2024</a></li></ul></div></div>
            </div>
          </div>
          <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.3.png" alt=""></a>
          <div class="po-blog-content">
            <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Campaign News: The Latest on Our Journey</a></h3>
            <p class="leading-26">Our campaign is constantly evolving, and we're excited to share every step.</p>
            <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="po-single-blog gray-bg rounded-7">
          <div class="po-blog-auth">
            <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.1.png" alt=""></div>
            <div class="po-blog-auth-content">
              <h3 class="auth-title font-bold text-20 leading-20 pb-12">James Porter</h3>
              <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">Politics</a></li><li><a href="#" class="po-blg-date">Sep 5,2024</a></li></ul></div></div>
            </div>
          </div>
          <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.4.png" alt=""></a>
          <div class="po-blog-content">
            <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">A New Era of Leadership Begins Today</a></h3>
            <p class="leading-26">Our commitment to the community drives every decision we make on the campaign trail.</p>
            <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="po-single-blog gray-bg rounded-7">
          <div class="po-blog-auth">
            <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.2.png" alt=""></div>
            <div class="po-blog-auth-content">
              <h3 class="auth-title font-bold text-20 leading-20 pb-12">Sarah Mitchell</h3>
              <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">Community</a></li><li><a href="#" class="po-blg-date">Sep 10,2024</a></li></ul></div></div>
            </div>
          </div>
          <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.5.png" alt=""></a>
          <div class="po-blog-content">
            <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Building Bridges: Our Community Outreach Program</a></h3>
            <p class="leading-26">Through direct engagement, we are fostering trust and collaboration across all communities.</p>
            <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="po-single-blog gray-bg rounded-7">
          <div class="po-blog-auth">
            <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.3.png" alt=""></div>
            <div class="po-blog-auth-content">
              <h3 class="auth-title font-bold text-20 leading-20 pb-12">David Chen</h3>
              <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">Economy</a></li><li><a href="#" class="po-blg-date">Sep 15,2024</a></li></ul></div></div>
            </div>
          </div>
          <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.6.png" alt=""></a>
          <div class="po-blog-content">
            <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Economic Policy for a Stronger Future</a></h3>
            <p class="leading-26">Our economic plan focuses on job creation, sustainable growth, and shared prosperity.</p>
            <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
