<app-breadcrumb title="Contact Us"></app-breadcrumb>

<!-- Map -->
<div class="po-maps pt-100">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5135197.949286641!2d5.1764345124327305!3d51.063780363604025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sGermany!5e0!3m2!1sen!2sbd!4v1728459348836!5m2!1sen!2sbd" class="contact-page__google-map" allowfullscreen=""></iframe>
</div>

<!-- Contact form section -->
<section class="po-conatact-iner pb-100">
  <div class="container">
    <div class="row">
      <div class="po-con-main-bg gray-bg-4">
        <div class="row align-items-center">
          <div class="col-xl-7 mb-30">
            <div class="con-content mr-40">
              <h2 class="font-bold text-24 leading-24 pb-16">Send Us A Message</h2>
              <p class="leading-26 pb-24">Our response time is within 30 minutes during business hours</p>
              <div class="po-con-from">
                <form action="#">
                  <div class="cmnt-from">
                    <div class="row">
                      <div class="col-xl-6 mb-20"><input type="text" placeholder="First Name"></div>
                      <div class="col-xl-6 mb-20"><input type="text" placeholder="Last Name"></div>
                      <div class="col-xl-6 mb-20"><input type="email" placeholder="Email"></div>
                      <div class="col-xl-6 mb-20"><input type="tel" placeholder="Mobile Number"></div>
                      <div class="col-xl-12 mb-20"><input type="text" placeholder="Subject"></div>
                      <div class="col-xl-12 mb-20"><textarea name="message" placeholder="Message"></textarea></div>
                    </div>
                    <button type="submit" class="po-btn-sec po-btn-sec-1">
                      <span class="po-btn-wrap">
                        <span class="po-btn-y-1">Send Now</span>
                        <span class="po-btn-y-2">Send Now</span>
                      </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xl-5 mb-10">
            <div class="po-cmt-ic-box mb-20">
              <div class="po-cmt-icon"><span><img src="assets/img/icon/po-con-from-map1.1.svg" alt=""></span></div>
              <div class="po-cmt-content">
                <h4 class="sec-title font-bold text-20 leading-20 pb-16">Our Address</h4>
                <a href="#">8708 Technology Forest Pl Suite 125-G,<br> The Woodlands, TX 77381</a>
              </div>
            </div>
            <div class="po-cmt-ic-box mb-20">
              <div class="po-cmt-icon"><span><img src="assets/img/icon/po-con-from-map1.2.svg" alt=""></span></div>
              <div class="po-cmt-content">
                <h4 class="sec-title font-bold text-20 leading-20 pb-16">Call or text</h4>
                <a href="tel:1234567890">123-456-7890</a>
              </div>
            </div>
            <div class="po-cmt-ic-box mb-20">
              <div class="po-cmt-icon"><span><img src="assets/img/icon/po-con-from-map1.3.svg" alt=""></span></div>
              <div class="po-cmt-content">
                <h4 class="sec-title font-bold text-20 leading-20 pb-16">Email us today</h4>
                <a href="mailto:Political@hotmail.com">Political&#64;hotmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CTA -->
<section class="cta-section relative pt-80 pb-80" style="background-image: url(assets/img/banner/po-cta-bg-1.1.jpg);">
  <div class="container">
    <div class="po-cta-content text-center">
      <div class="po-cta-icon"><a href="#"><img src="assets/img/icon/po-download-1.1.svg" alt=""></a></div>
      <h3 class="po-cta-title text-white font-bold text-40 leading-50 pt-32 pb-16">It's Election Day-Go Vote!<br> Join the Campaign</h3>
      <p>Be a part of something bigger and join our movement for change!</p>
      <div class="po-cta-subcribe">
        <form action="#">
          <input type="email" placeholder="Enter Your email">
          <div class="po-cta-btn">
            <button type="submit" class="po-btn-sec po-btn-sec-1">
              <span class="po-btn-wrap"><span class="po-btn-y-1">Joining Now</span><span class="po-btn-y-2">Joining Now</span></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
