<app-breadcrumb title="Service Left Sidebar"></app-breadcrumb>
<section class="po-ser-sec pt-100 pb-70">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-xl-8">
        <div class="row">
          <div class="col-xl-6 col-md-6 mb-30">
            <div class="po-single-ser gray-bg rounded-7 overflow-hidden">
              <div class="po-single-ser-img"><a href="#"><img class="w-100" src="assets/img/service/po-ser-1.1.png" alt=""></a></div>
              <div class="po-ser-content">
                <div class="po-ser-ic"><span><img src="assets/img/icon/po-se-1.1.svg" alt=""></span></div>
                <h3 class="sec-title font-bold text-24 leading-24 pb-16"><a routerLink="/service/single">Policing And Crime</a></h3>
                <p class="leading-26 pb-22">Our services are designed to meet unique needs of our community.</p>
                <a routerLink="/service/single" class="blog-read-more font-bold text-16 leading-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 mb-30">
            <div class="po-single-ser gray-bg rounded-7 overflow-hidden">
              <div class="po-single-ser-img"><a href="#"><img class="w-100" src="assets/img/service/po-ser-1.2.png" alt=""></a></div>
              <div class="po-ser-content">
                <div class="po-ser-ic"><span><img src="assets/img/icon/po-se-1.2.svg" alt=""></span></div>
                <h3 class="sec-title font-bold text-24 leading-24 pb-16"><a routerLink="/service/single">Housing And Land</a></h3>
                <p class="leading-26 pb-22">We offer a range of initiatives focused on improving public safety.</p>
                <a routerLink="/service/single" class="blog-read-more font-bold text-16 leading-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="po-sidebar">
          <div class="po-sidebar-widget mb-30 gray-bg p-24 rounded-7">
            <h4 class="widget-title font-bold text-20 pb-16">All Services</h4>
            <ul class="po-cat-list">
              <li><a routerLink="/service/single">Policing And Crime</a></li>
              <li><a routerLink="/service/single">Housing And Land</a></li>
              <li><a routerLink="/service/single">Art And Culture</a></li>
              <li><a routerLink="/service/single">Agriculture And Food</a></li>
              <li><a routerLink="/service/single">Business And Industry</a></li>
              <li><a routerLink="/service/single">Roads and Transport</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
