<app-breadcrumb title="Blog Left Sidebar"></app-breadcrumb>
<section class="po-blog-section pt-100 pb-70">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-xl-8">
        <div class="row">
          <div class="col-xl-6 mb-30">
            <div class="po-single-blog gray-bg rounded-7">
              <div class="po-blog-auth">
                <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.1.png" alt=""></div>
                <div class="po-blog-auth-content">
                  <h3 class="auth-title font-bold text-20 leading-20 pb-12">Tina Wilkinson</h3>
                  <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">City News</a></li><li><a href="#" class="po-blg-date">Aug 21,2024</a></li></ul></div></div>
                </div>
              </div>
              <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.1.png" alt=""></a>
              <div class="po-blog-content">
                <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Campaign Updates Stay Informed with the Latest News</a></h3>
                <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 mb-30">
            <div class="po-single-blog gray-bg rounded-7">
              <div class="po-blog-auth">
                <div class="po-blog-auth-img"><img src="assets/img/blog/po-blog-auth-1.2.png" alt=""></div>
                <div class="po-blog-auth-content">
                  <h3 class="auth-title font-bold text-20 leading-20 pb-12">Maurice Quitzon</h3>
                  <div class="po-blog-meta"><div class="po-meta-tags"><ul><li><a href="#">City News</a></li><li><a href="#" class="po-blg-date">Aug 21,2024</a></li></ul></div></div>
                </div>
              </div>
              <a routerLink="/blog/single"><img class="w-100" src="assets/img/blog/po-blog-1.2.png" alt=""></a>
              <div class="po-blog-content">
                <h3 class="po-camp-title font-bold text-20 leading-28 pb-16"><a routerLink="/blog/single">Latest Updates What Happening in Our Campaign</a></h3>
                <a routerLink="/blog/single" class="blog-read-more font-bold text-16 leading-16 pt-16">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="po-sidebar">
          <div class="po-sidebar-widget mb-30 gray-bg p-24 rounded-7">
            <h4 class="widget-title font-bold text-20 pb-16">Search</h4>
            <div class="po-search-form">
              <input type="text" placeholder="Search...">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
          <div class="po-sidebar-widget mb-30 gray-bg p-24 rounded-7">
            <h4 class="widget-title font-bold text-20 pb-16">Categories</h4>
            <ul class="po-cat-list">
              <li><a href="#">City News <span>(8)</span></a></li>
              <li><a href="#">Politics <span>(12)</span></a></li>
              <li><a href="#">Community <span>(5)</span></a></li>
              <li><a href="#">Economy <span>(7)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
